# Supabase 접속: Supabase → Connect → Framework
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url

# Supabase 접속: Supabase → Project Settings → API Keys → Legacy anon, service_role API keys
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key